{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ShopeMe Online-Ecommerce</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon/favicon.png"
    />
    <link
      rel="stylesheet"
      href="{% static 'fonts.googleapis.com/cssdd1b.css'  %}"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vendor/vendor.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static  'assets/css/plugins/plugins.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/style.min.css' %}"
    />
    <script type="text/javascript">
      const user = '{{request.user}}';
      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + '=') {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken('csrftoken');

      // FOr Storing Cookies
      const getCookies = (name) => {
        // Split and get name=value pairs
        let cookieArr = document.cookie.split(';');
        //Loop the array
        for (let i = 0; i < cookieArr.length; i++) {
          let cookiePair = cookieArr[i].split('=');
          //Remove whitespace and beg and end && compare with given string
          if (name == cookiePair[0].trim()) {
            // Decode and return cookie
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null;
      };
      let cart = JSON.parse(getCookies('cart'));
      if (cart == undefined) {
        cart = {};
        console.log('Cart was created', cart);
        document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/';
      }
      console.log({ cart });
    </script>
  </head>

  <body>
    {% block content %} {% include './main/navbar.html' %} {% endblock content%}
    <script src="{% static 'assets/js/vendor/vendor.min.js' %} "></script>
    <script src="{% static 'assets/js/plugins/plugins.min.js' %} "></script>
    <!-- Main Activation JS -->
    <script
      type="text/javascript"
      src="{% static 'assets/js/main.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'assets/js/cart.js' %}"
    ></script>
  </body>
</html>
