{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
    {% include './main/navbar.html' %}  
    {% include './main/offcanvas-ovalay.html' %}
    {% include './main/offcanvas-ovalay-menu.html' %}
    {% include './sub-store/slider-area.html' %}
    {% include './sub-store/static-area.html' %}
    {% include './sub-store/feature-area.html' %}
    {% include './sub-store/brand-area.html' %}
    {% include './sub-store/banner-area2.html' %}
    {% include './sub-store/footer.html' %}
    {% include './sub-store/modal.html' %}
    <h3>Store</h3>
{% endblock content %}
