{% load static %}
{% block content %}
    <!-- Banner Area Start -->
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="banner-wrapper">
                        <a href="shop-4-column.html"><img src="assets/images/banner-image/1.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="banner-wrapper">
                        <a href="shop-4-column.html"><img src="assets/images/banner-image/2.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="banner-wrapper">
                        <a href="shop-4-column.html"><img src="assets/images/banner-image/3.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->  
{% endblock content %}
    
