{% load static %}

{% block content %}
    <!-- Banner Area Start -->
    <div class="banner-area mb-30px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="banner-wrapper">
                        <a href="shop-4-column.html"><img src="{% static 'assets/images/banner-image/7.jpg' %} " alt="" /></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="banner-wrapper">
                        <a href="shop-4-column.html"><img src="{% static 'assets/images/banner-image/8.jpg' %} " alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
{% endblock content %}
    